@charset "utf-8";

@import url('//fonts.googleapis.com/earlyaccess/notosanskr.css'); /* 노토산스 */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

* { margin:0; padding:0; -webkit-box-sizing: border-box; box-sizing: border-box; }
html { width: 100%; height: 100%; margin: 0; padding: 0;}
body { width: 100%; height: 100%; margin: 0; padding: 0; overflow-y: scroll; word-break: keep-all; }
body,div,span,button,a,td,th,select,textarea,input,dl,dt,dd { font-family: 'Pretendard Variable', 'Pretendard', 'Noto Sans KR', sans-serif; font-size: 14px; font-weight: 300; line-height: 1.4; } 
em { font-style: normal; }
h1,h2,h3,h4,h5 { margin: 0; padding: 0; font-family: 'Pretendard Variable', 'Pretendard', 'Noto Sans KR', sans-serif; }
a { text-decoration: none; color: #000; }
a:hover { cursor: pointer; }
button { appearance: none; -webkit-appearance: none; margin: 0; border: 0; box-sizing: border-box; background: transparent; cursor: pointer; }
ul, ol { list-style: none; margin: 0; padding: 0; }
dl, dt, dd { margin: 0; padding: 0; }
p { margin: 0; padding: 0; }
u { display: inline-block; text-decoration: none; line-height: 1.8; }
img { border: 0; }
input { border: none; outline: none; }
input:focus { background-color: transparent; }

/* 헤더 */
.header { padding: 30px 20px; border-top: 7px solid #a29fd8; background-color: #fff; }
.header h1 { position: relative; margin-bottom: 20px; line-height: 0; }
.header h1::before { content: ""; position: absolute; top: 50%; right: 0; width: 100%; height: 1px; background: #e6e6e6; }
 .header h1 span { position: relative; padding-right: 13px; background: #fff; font-size: 10px; font-weight: 400; letter-spacing: 1.5px; color: #c1c1c1; }
.header b { display: block; font-size: 34px; }
.header em { font-size: 12px; font-weight: 500; letter-spacing: 1.2px; color: #c1c1c1; }

/* 메인 */
h2 { position: absolute; height: 0; text-indent: -9999px; color: transparent; }
.aboutMe { padding: 30px 0 50px; background: #f3f3f5; }
.aboutMe .inner { display: flex; flex-direction: row; flex-wrap: wrap; align-items: flex-start; padding: 0 20px; }
.aboutMe h3 { position: absolute; height: 0; text-indent: -9999px; color: transparent; }
.aboutMe p { position: relative; margin-bottom: 30px; padding-top: 30px; }
.aboutMe p::before { content: ""; position: absolute; top: 0; left: 0; width: 62px; height: 47px; background: url(../images/quotes_01.png) left center no-repeat; background-size: 60px auto; }
.aboutMe p span { position: relative; font-size: 13px; font-weight: 400; color: #b5b5b5; }
.aboutMe .photo { position: relative; width: 50%; max-width: 220px; padding-right: 20px; }
.aboutMe .photo::before { content: ""; position: absolute; right: 20px; bottom: 0; width: 12px; height: 12px; background-color: #696fb9; }
.aboutMe .photo img { display: block; width: 100%; }
.aboutMe dl { display: flex; flex-direction: row; flex-wrap: wrap; align-items: flex-start; gap: 10px 0; width: 50%; }
.aboutMe dt { text-indent: -9999px; color: transparent; width: 16px; height: 16px; background-position: center;  background-repeat: no-repeat;  background-size: 100% auto; }
.aboutMe dt.name { background-image: url(../images/ico_name.png); }
.aboutMe dt.birth { background-image: url(../images/ico_birth.png); }
.aboutMe dt.addr { background-image: url(../images/ico_addr.png); }
.aboutMe dt.tel { background-image: url(../images/ico_tel.png); }
.aboutMe dt.mail { background-image: url(../images/ico_mail.png); }
.aboutMe dt.school { background-image: url(../images/ico_school.png); }
.aboutMe dd { width: calc(100% - 18px); padding-left: 12px; font-size: 13px; font-weight: 500; color: #696fb9; }
.aboutMe dd a { font-size: 13px; font-weight: 500; color: #696fb9; }

.project { padding: 80px 20px 20px; }
.project .filter { margin-bottom: 30px; text-align: right; }
.project .filter article { display: flex; flex-direction: row; flex-wrap: wrap; justify-content: flex-end; align-items: flex-start; gap: 18px; }
.project .filter .sort { display: flex; flex-direction: row; flex-wrap: nowrap; align-items: center; border-right: 1px solid #ddd; }
.project .filter .sort label { border: 1px solid #ddd; border-right: 1px solid transparent; cursor: pointer; }
.project .filter .sort label:not(:last-child) { margin-right: -1px; }
.project .filter .sort label:has(input[type="radio"]:checked) { border: 1px solid #a29fd8; background: #ececf7; z-index: 1; }
.project .filter .sort input[type="radio"] { appearance: none; -moz-appearance: none; -webkit-appearance: none; position: absolute; width: 0; height: 0; background: none; }
.project .filter .sort input[type="radio"] + span { display: flex; justify-content: center; align-items: center; min-height: 24px; padding: 0 18px; font-size: 12px; color: #aaa; }
.project .filter .sort input[type="radio"]:checked + span { font-weight: 500; color: #696fb9; }
.project .filter .date { }
.project .filter .date select { appearance: none; -webkit-appearance: none; -moz-appearance: none; min-height: 24px; padding: 0 5px 0 24px; border: none; background: url(../images/filter_date.png) left 2px center no-repeat; background-size: 17px auto; font-size: 12px; text-align: center; color: #777; cursor: pointer; }
.project .filter .date select:focus { outline: none; }

.project .list h3 { margin-bottom: 20px; font-size: 18px; color: #888; }
.project .list .sort[sort=edu] { margin-bottom: 80px; }
.project .list ol { padding: 0 10px; }
.project .list li { margin-bottom: 80px; }
.project .list li .title {  }
.project .list li .title img { width: 100%; max-width: 424px; margin-bottom: 10px; }
.project .list li .title.m img { width: 40%; max-width: 378px; }
.project .list li .title b { display: block; font-size: 18px; }
.project .list li .title a { display: inline-block; margin-bottom: 15px; border-bottom: 1px dashed #b3b6e4; font-size: 13px; font-weight: 400; color: #989cce; }
.project .list li .title a:hover { color: #8286bd; }
.project .list li .title p { font-size: 13px; color: #b5b5b5; }
.project .list li .date { margin: 10px 0; padding: 0 10px; }
.project .list li .date .day { margin-right: 5px; font-size: 13px; font-weight: 500; }
.project .list li .date .day em {  }
.project .list li .date .period { padding: 1px 6px; border-radius: 4px; background: #b7b7b7; font-size: 12px; color: #fff; }
.project .list li .detail {  }
.project .list li .detail dl { display: flex; flex-direction: row; flex-wrap: wrap; align-items: flex-start; gap: 5px 0; padding: 0 10px; }
.project .list li .detail dl dt { width: 70px; font-size: 13px; color: #616161; }
.project .list li .detail dl dd { width: calc(100% - 70px); font-size: 13px; color: #b5b5b5; }

.footer { padding: 30px; background: #484848; text-align: center; }
.footer span { font-size: 12px; color: #cdcdcd; }
.footer .topBtn { position: fixed; bottom: 20px; right: 20px; width: 38px; height: 38px; border: 1px solid #b3b3b3; border-radius: 7px; background: rgba(255, 255, 255, .5); color: rgba(0, 0, 0, 0); text-indent: -9999px; }
.footer .topBtn::before { content: ""; position: absolute; top: 15px; left: 12px; transform: rotate(-45deg); width: 10px; height: 10px; border-top: 3px solid rgba(0, 0, 0, .5); border-right: 3px solid rgba(0, 0, 0, .5); }

@media screen and (min-width:1000px){
    .header { padding: 55px 50px 38px; }
    .header h1 { margin-bottom: 23px; }
    .header h1 span { padding-right: 24px; font-size: 13px; }
    .header b { margin-left: -3px; font-size: 56px; letter-spacing: 1.4px; line-height: 1.3; }
    .header em { font-size: 16px; letter-spacing: 1.8px; }
	main { display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between; align-items: stretch; }
    .aboutMe { width: 366px; padding: 40px 0; }
    .aboutMe .inner { padding: 0 50px; }
    .aboutMe p { margin-bottom: 40px; padding-top: 70px; }
    .aboutMe p::before { width: 120px; height: 90px; background-size: 120px auto; }
    .aboutMe p span { font-size: 14px; font-weight: 500; line-height: 1.7; }
    .aboutMe .photo { width: 100%; margin-bottom: 40px; padding-right: 0; }
    .aboutMe .photo::before { right: 0; width: 14px; height: 14px; }
    .aboutMe dl { gap: 22px 0; width: 100%; }
    .aboutMe dt { width: 28px; height: 28px; }
    .aboutMe dd { width: calc(100% - 30px); margin-top: 2px; padding-left: 22px; font-size: 15px; font-weight: 600; }
    .aboutMe dd a { font-size: 15px; font-weight: 600; }
    .project { width: calc(100% - 366px); padding: 30px 60px 80px; overflow-y: auto; }
    .project .filter .sort input[type="radio"] + span { padding: 0 25px; font-size: 13px; }
    .project .filter .date select { font-size: 13px; }
    .project .list h3 { font-size: 20px; }
    .footer { padding: 40px 30px; }
    .footer span { font-size: 13px; }
    .footer .topBtn:hover::before { border-top: 3px solid rgba(105, 111, 185, .5); border-right: 3px solid rgba(105, 111, 185, .5); }
}

@media screen and (min-width:1200px){
    .project .list ol { padding: 0; }
    .project .list li { position: relative; margin-bottom: 0; padding-bottom: 70px; padding-left: 37px; }
    .project .list li:last-child { padding-bottom: 0; }
    .project .list li::before { content: ""; position: absolute; top: 5px; left: 18px; width: 1px; height: 100%; background-color: #bfbfbf; }
    .project .list li::after { content: ""; position: absolute; top: 5px; left: 13px; width: 11px; height: 11px; border-radius: 6px; background-color: #2c2c2c; }
    .project .list li .title { margin-bottom: 25px; padding-left: 200px; }
    .project .list li .title img { float: right; max-width: 212px; margin-bottom: 0; margin-left: 20px; }
    .project .list li .title.m img { max-width: 126px; }
    .project .list li .title b { margin-bottom: 7px; }
    .project .list li .title a { margin-bottom: 25px; font-size: 14px; }
    .project .list li .title p { font-size: 14px; line-height: 1.5; }
    .project .list li .date { position: absolute; top: 0; left: 57px; min-width: 100px; margin: 0; padding: 0; text-align: right; }
    .project .list li .date .day { display: block; margin-right: 0; margin-bottom: 8px; font-size: 16px; font-weight: 600; }
    .project .list li .date .day em { display: block; }
    .project .list li .date .period { font-size: 13px; font-weight: 600; }
    .project .list li .detail { padding-left: 200px; }
    .project .list li .detail dl { gap: 6px 0; padding: 0; }
    .project .list li .detail dl dt { font-size: 14px; font-weight: 400; }
    .project .list li .detail dl dd { font-size: 14px; font-weight: 400; }
    .footer .topBtn { width: 50px; height: 50px; }
    .footer .topBtn::before { top: 19px; left: 16px; width: 16px; height: 16px; border-top: 3px solid rgba(0, 0, 0, .5); border-right: 3px solid rgba(0, 0, 0, .5); }
}